* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* variables and functions go here */
:root {
  --yellow: $yellow;
  --grey-black: #575757;
}

/* body container */
.main_cont {
  width: 100%;
  background-color: #ffffff;
  font-family: 'Prompt', sans-serif;
  /* header container goes here */
  /* marker container designs goes here */
}

.main_cont header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/bg-creek@4x.png") no-repeat bottom right/cover fixed;
}

.main_cont header .logo {
  top: 20px;
  left: 20px;
  width: 90px;
  height: 90px;
  position: absolute;
  background: transparent url("../assets/techcreek-logo.svg") no-repeat 0 0/contain;
}

.main_cont .marker {
  width: 100%;
  height: 15px;
  background: url(/assets/path-5.png);
}

/* header styles starts here */
header article {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding: 50px;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header article.animate::before {
  -webkit-clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
          clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
}

header article.animate::after {
  -webkit-clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
          clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
}

header article::before {
  top: 0px;
  content: '';
  z-index: -2;
  width: 300px;
  height: 300px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-71deg);
          transform: rotate(-71deg);
  background-color: rgba(106, 129, 255, 0.9);
  -webkit-clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
          clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
}

header article::after {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -2;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
          clip-path: polygon(40% -10%, 0% 100%, 100% 91%);
  background: rgba(236, 86, 248, 0.7);
}

header article .header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica';
}

header article .header_text .cgs {
  font-size: 30px;
  text-transform: uppercase;
}

header article .header_text .cgs .code {
  color: white;
  line-height: .8;
  font-weight: 500;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

header article .header_text .cgs .gamin {
  color: #35D3AE;
  line-height: .8;
  font-weight: 500;
}

header article .header_text .cgs .ators {
  color: #F8EC56;
  line-height: .8;
  font-weight: 500;
}

header article .header_text .num {
  font-size: 100px;
  color: #2DC1C1;
  font-weight: bolder;
}

header article > p {
  font-size: 1.2rem;
  max-width: 250px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* slider styles starts here */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

.slider_cont .slider_heading {
  font-size: 20px;
  margin-top: 30px;
  color: #959595;
  text-align: right;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1.2;
}

.slider_cont .slider_heading span {
  font-weight: bold;
  font-size: 35px;
  color: #4E4E4E;
}

.slider_cont .slide_holder {
  overflow: hidden;
  position: relative;
  padding: 0 100px 2rem;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider_cont .slide_holder .btn {
  width: 20%;
  width: 40px;
  height: 40px;
  border: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.78);
  -webkit-box-shadow: 0px 0px 5px #959595;
          box-shadow: 0px 0px 5px #959595;
  outline: none;
}

.slider_cont .slide_holder .btn.right {
  right: 20px;
  left: auto;
}

.slider_cont .slide_holder .btn.left {
  right: auto;
  left: 20px;
}

.slider_cont .slide_holder .btn i {
  color: var(--grey-black);
}

.slider_cont .slider {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider_cont .slider > .pics_holder {
  margin: 0 15px;
}

/* silder styles continues here */
.pics_holder {
  overflow: hidden;
  background-color: transparent;
}

.pics_holder > * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pics_holder img {
  z-index: 2;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 20px 0 20px 0;
  -webkit-transform: translate(0, 65px);
          transform: translate(0, 65px);
  cursor: pointer;
}

.pics_holder .name {
  color: white;
  position: relative;
  z-index: 1;
  padding: 25px 15px 10px;
  border-radius: 0 0 20px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #6A81FF;
}

.pics_holder:hover img {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

/* design styles starts here */
.text-center {
  text-align: center;
}

.label_header {
  padding: 0 18px;
  font-size: 25px;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--grey-black);
}

/*design styles continues here */
.designs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 1em;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
}

.designs .design {
  width: 100%;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  border-radius: 12px 12px 24px 12px;
}

.designs .design .design_pics {
  width: 100%;
  height: 400px;
  background-color: #959595;
}

.designs .design .design_info {
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 0;
  position: absolute;
  border-radius: 24px 0 0 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
  text-align: left;
  font-size: 1.1rem;
  color: #575757;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: .3s;
  transition: .3s;
}

.designs .design .design_info .name_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #afafaf;
  font-size: 1.1rem;
  font-weight: 300;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.designs .design .design_info .name_rating span {
  color: #6A81FF;
  font-size: 2rem;
}

.designs .design:hover {
  -webkit-box-shadow: 0 3px 23px rgba(106, 129, 255, 0.3);
          box-shadow: 0 3px 23px rgba(106, 129, 255, 0.3);
}

.designs .design:hover .design_info {
  background: white;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.designs .add {
  width: 100%;
  cursor: pointer;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.designs .add > *, .designs .add {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.designs .add .btn2 {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: transparent;
  border: solid 1px var(--grey-black);
}

.designs .add .btn2 .add_icon {
  color: #575757;
}

.designs .add:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 6px 18px rgba(106, 129, 255, 0.3);
          box-shadow: 0px 6px 18px rgba(106, 129, 255, 0.3);
}

.designs .add:hover .btn2 {
  background-color: #6A81FF;
  border: solid 1px transparent;
}

.designs .add:hover .btn2 .add_icon {
  color: #ffffff;
}

/*footer */
footer {
  width: 100%;
  min-height: 150px;
  background: url(/assets/path-4.png) no-repeat -20px 10px/200px 200px;
}
/*# sourceMappingURL=main.css.map */